html, body{
    height: 100%;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
}

.body-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}

/* header */

.header{
    display: flex;
    justify-content: center;
    /* margin-bottom: 40px; */
    gap: 1000px;
    background-color: #1F2937;
    padding-bottom: 40px;
}

.icon {
    width: 40px;
    display: flex;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    
    
}

a{
    text-decoration: none;
    color: white;
    
}

/* body 1 */

.body-1{
    display: flex;
    justify-content: center;
    /* margin-bottom: 40px; */
    gap: 100px;
    background-color: #1F2937;
    padding-bottom: 40px;
}

.body-1-img{
    
    width: 300px;
    height: 150px;
    border: 5px solid black;
}

/* body 2 */

.body-2{
    display: flex;
    justify-content: center;
    gap: 52px;
    /* margin-bottom: 40px; */
 
    
}

.body-2-header{
    text-align: center;
    /* margin-bottom: 32px; */
   
}

.body-2-info{
    max-width: 200px;
}

.body-2-img{
    width: 100px;
    height: 100px;
    border: 5px solid black;
    border-radius: 20px;
}

/* body 3 */

.body-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 40px; */
}

.body-3-quote{
    display: flex;
    font-size: 20px;
    width: 700px;
    height: auto;
}

.body-3-quote-author{
    display: flex;
    font-size: 20px;
    width: 700px;
    height: auto;
    justify-content: flex-end;
}

/* body 4 */

.body-4{
    display: flex;
    justify-content: center;
}

.body-4-card{
    display: flex;
    gap: 100px;
    border: 5px solid black;
    padding: 20px;
    border-radius: 20px;
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

