html, body{
    height: 100%;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.body-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #3882F6;
    cursor: pointer;
    
}

/* header */

.header{
    display: flex;
    justify-content: center;
    /* margin-bottom: 40px; */
    gap: 1000px;
    background-color: #1F2937;
    padding-bottom: 40px;
}

.icon {
    width: 40px;
    display: flex;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    
    
}

a{
    text-decoration: none;
    color: gray;
    
}

/* body 1 */

.body-1{
    display: flex;
    justify-content: center;
    /* margin-bottom: 40px; */
    gap: 100px;
    background-color: #1F2937;
    padding-bottom: 40px;
}

.body-1-header{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.body-1-text{
    font-size: 18px;
    color: #E5E7EB;
}

.body-1-img{
    
    width: 200px;
    height: 200px;
    border: 5px solid gray;
}

/* body 2 */

.body-2{
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 40px;
    padding-top: 40px;
 
    
}

.body-2-header{
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
    /* margin-bottom: 32px; */
   
}

.body-2-info{
    max-width: 200px;
    color: gray;
    
    
}

.body-2-img{
    width: 150px;
    height: 100px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

/* body 3 */

.body-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 70px;
    /* margin-bottom: 40px; */
    background-color: #E5E7EB;
    
    
}

.body-3-quote{
    display: flex;
    font-size: 20px;
    width: 700px;
    height: auto;
    color: #1F2937;
    
}

.body-3-quote-author{
    display: flex;
    font-size: 20px;
    width: 700px;
    height: auto;
    justify-content: flex-end;
    color: #1F2937;
}

/* body 4 */

.body-4{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
    
}

.body-4-card{
    display: flex;
    gap: 100px;
    border: 5px solid #3882F6;
    padding: 20px;
    border-radius: 20px;
    
}

.body-4-text{
    font-size: 10px;
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 20px;
    color: gray;
}

